html{
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
  html {
      font-size: 16px !important;
  }
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
  html {
      font-size: 18.75px !important;
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
  html {
      font-size: 20.7px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
      font-size: 38.4px !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1241px) {
  html {
      font-size: 51.2px !important;
  }
}

body,html{
  height: 100%;
}
#root{
  height:100%;
}